#sidebarc .list-group-item{
    border: 0px;
}
#sidebarc fd-icon{
vertical-align: sub;
}
#cart-badge {    
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
}