<!--Photo Carousell-->
<app-carousel></app-carousel>
<!--End Cover Carousell-->

<!--Hello User in Alert Modal-->
<div class="alert alert-danger " role="alert"> 
  <fd-grid class="grid">
    <fd-row>
      <fd-col size="2"> 
        <fd-avatar size="large" shape="circle" class="fd-xs-pl-8">
          <fd-image src="https://avatarfiles.alphacoders.com/217/217920.jpg" full-Size object-fit="cover"></fd-image>        
        </fd-avatar>
      </fd-col>
      <fd-col> 
        <fd-text color="magenta-default" bottom="10">Hola Usuario</fd-text> 
        <fd-text color="black-default" bottom="10" class="text-width-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</fd-text>
      </fd-col>
    </fd-row>
  </fd-grid>
</div>
<!--End Hello-->

<h4 id="product-carousel" style="position: relative;">
  Novedades
</h4>

<fd-story visited="false">
    <fd-image
      src="https://avatarfiles.alphacoders.com/215/215753.jpg"
      full-size
      shape="circle"
      object-fit="cover"
      slot="image"
    ></fd-image>
  </fd-story>

  <fd-story visited="false">
    <fd-image
      src="https://avatarfiles.alphacoders.com/215/215753.jpg"
      full-size
      shape="circle"
      object-fit="cover"
      slot="image"
    ></fd-image>
  </fd-story>

  <fd-story visited="false">
    <fd-image
      src="https://avatarfiles.alphacoders.com/215/215753.jpg"
      full-size
      shape="circle"
      object-fit="cover"
      slot="image"
    ></fd-image>
  </fd-story>

  <fd-story visited="true">
    <fd-image
      src="https://avatarfiles.alphacoders.com/215/215753.jpg"
      full-size
      shape="circle"
      object-fit="cover"
      slot="image"
    ></fd-image>
  </fd-story>

  <fd-story visited="false">
    <fd-image
      src="https://avatarfiles.alphacoders.com/215/215753.jpg"
      full-size
      shape="circle"
      object-fit="cover"
      slot="image"
    ></fd-image>
  </fd-story>

<!--Card Products-->
<h4 id="product-carousel" style="position: relative;">
    Ofertas
</h4> 
<span>{{products[0].stock | json}}</span>
<fd-carousel options="{options}" id="carousell-products-c">
    <fd-button slot="next">Next</fd-button>
    <fd-button slot="prev">Prev</fd-button>
    <fd-slide>
      <fd-card-product
          id="1"
          name="Nombre del producto en dos líneas"
          image="/assets/img/image16.png"
          origin="ESIKA"
          has-stock="products[0].stock > 0"
          price-client="S/ 30.00"
          price-offer="S/ 21.00"          
          (click)="agregar(1)"
      ></fd-card-product>
    </fd-slide>
    <fd-slide>
      <fd-card-product
          id="2"
          name="Nombre del producto en dos líneas"
          image="/assets/img/coso4.png"
          origin="ESIKA"
          has-stock="products[1].stock==0"
          price-client="S/ 40.00"
          price-offer="S/ 28.00"
          (click)="agregar(2)"
      ></fd-card-product>
    </fd-slide>
    <fd-slide>
      <fd-card-product
          id="3"
          name="Nombre del producto en dos líneas"
          image="/assets/img/labial.png"
          origin="ESIKA"
          has-stock="products[2].stock==0"
          price-client="S/50.00"
          price-offer="S/ 35.00"
          (click)="agregar(3)"
      ></fd-card-product>
    </fd-slide>
    <fd-slide>
      <fd-card-product
          id="4"
          name="Nombre del producto en dos líneas"
          image="/assets/img/perfume1.png"
          origin="ESIKA"
          has-stock="products[3].stock==0"
          price-client="S/ 70.00"
          price-offer="S/ 49.00"
          (click)="agregar(4)"
      ></fd-card-product>
    </fd-slide>
    <fd-slide>
      <fd-card-product
          id="5"
          name="Nombre del producto en dos líneas"
          image="/assets/img/perfume3.png"
          origin="ESIKA"
          has-stock="products[4].stock==0"
          price-client="S/ 50.00"
          price-offer="S/ 35.00"
          (click)="agregar(5)"
      ></fd-card-product>
    </fd-slide>
    <fd-slide>
      <fd-card-product
          id="6"
          name="Nombre del producto en dos líneas"
          image="/assets/img/perfume4.png"
          origin="ESIKA"
          has-stock="products[5].stock==0"
          price-client="S/ 70.00"
          price-offer="S/ 49.00"
          (click)="agregar(6)"
      ></fd-card-product>
    </fd-slide>
  </fd-carousel> 
<!--End Card Products-->