<nav class="navbar navbar-light bg-light nav-grad">
  <a class="navbar-brand " href="#">
    <fd-heading type="h5" color="white-default" bottom="10" id="nav-heading" >
      <span class="fd-ml-32 fd-pl-4">SOMOS BELCORP</span>
      <fd-icon slot="icon" name="notification" size="large"></fd-icon>
    </fd-heading>
  </a>
</nav>

<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <app-side-bar></app-side-bar>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /#page-content-wrapper -->
</div>